{/*.employer0{
    margin-left: 70px; 
    margin-top: 50px;
}
.employer1{
    margin-right: 30px; 
    font-size: 60px; 
    font-family: "fantasy";
}
.employer3{
    color: "black";
    font-family: "Serif";
}
.employer3{
    margin-left: "70px";
    margin-top: "50px";
}
.employer4{
    font-size: "60px"; 
    font-family:"fantasy";
}
.enployer5{
    color: "black";
    font-family: "Serif";
}
.btn-1{
    width: "170px";
     height: "50px"; 
     margin-right: "10px";
}*/}