.login,
.image {
  min-height: 100vh;
}

.bg-images {
  background-image: url('../../images/medium-shot-woman-teaching-lesson.jpg');
  background-size: cover;
  background-position: center center;
}

.arrow {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .arrow {
    margin-left: 70px;
  }
}